<div class="flex gap-16">
  <div
    class="shrink-0 hidden sm:block w-52 h-52 rounded-full overflow-hidden shadow-lg"
  >
    <img src="profile.jpeg" alt="Profile Picture" />
  </div>

  <div class="flex flex-col justify-center gap-2">
    <h1
      class="text-headline font-extrabold text-primary leading-tight text-left"
    >
      Ehsan Barooni
    </h1>

    <p class="text-sub-headline text-neutral-content text-left">
      Full-Stack Software Engineer | Hybrid Apps | Capacitor
    </p>

    <div class="flex flex-wrap gap-4 mt-4">
      <a
        [routerLink]="Route.PROJECTS"
        class="btn grow btn-primary text-cta-btn font-semibold"
      >
        View My Work
      </a>
      <a
        [routerLink]="Route.CONTACT"
        class="btn grow btn-secondary text-cta-btn font-semibold"
      >
        Let's Connect
      </a>
    </div>
  </div>
</div>
