<footer
  class="footer bg-bas footer-center gap-y-5 gap text-base-content p-8 bg-gradient-to-t from-primary-content to-base-100"
>
  <nav>
    <div class="grid grid-flow-col gap-5">
      <a
        class="link"
        href="https://github.com/ebarooni"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-github></app-github>
      </a>
      <a
        class="link"
        href="https://gitlab.com/ebarooni"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-gitlab></app-gitlab>
      </a>
      <a
        class="link"
        href="https://stackoverflow.com/users/13690331/ebarooni"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-stackoverflow></app-stackoverflow>
      </a>
      <a
        class="link"
        href="https://linkedin.com/in/barooni"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-linkedin></app-linkedin>
      </a>
    </div>
  </nav>
  <aside>
    <p>Copyright © {{ currentYear }} – All rights reserved</p>
  </aside>
</footer>
