<app-base-layout [offsetTop]="false" [backgroundColorClass]="'bg-base-200'">
  <section>
    <app-hero
      [backgroundColor]="'bg-gradient-to-b from-base-100 to-base-200'"
      [titleColor]="'text-primary'"
      [subtitleColor]="'text-neutral-content'"
    >
      <ng-container ngProjectAs="title">Let’s Collaborate</ng-container>

      <ng-container ngProjectAs="subtitle"
        >Whether you’re looking for a skilled developer, a technical consultant,
        or someone to bring your vision to life, I’m here to help. Let’s
        connect.</ng-container
      >
    </app-hero>
  </section>

  <div
    class="w-full h-1 bg-gradient-to-r from-primary via-accent to-secondary"
  ></div>

  <section>
    <app-contact-form></app-contact-form>
  </section>
</app-base-layout>
