<div class="pt-20 bg-gradient-to-br from-base-200 via-primary to-base-300">
  <div
    class="flex flex-col items-center justify-center text-center px-8 lg:px-24 py-7 sm:py-16"
  >
    <h1
      class="text-4xl md:text-6xl font-extrabold mb-4 text-neutral animate-fade-in"
    >
      My Projects
    </h1>
    <p class="text-lg text-secondary-content max-w-2xl">
      A showcase of innovative, cutting-edge projects that combine creativity
      with technical excellence. Explore the possibilities below.
    </p>
  </div>
</div>
