<div
  class="h-full card rounded-2xl bg-base-300 shadow-lg hover:scale-105 transform transition"
>
  <div class="card-body">
    <div class="card-title text-sub-headline text-base-content justify-between">
      <ng-content select="project-title" />
      <ng-content select="project-link" />
    </div>

    <div class="flex-auto">
      <p class="text-neutral-content text-body">
        <ng-content select="project-description" />
      </p>
    </div>

    <div class="flex flex-wrap gap-2 mt-2">
      <ng-content select="project-features" />
    </div>
  </div>
</div>
