<div
  class="h-full card rounded-2xl bg-base-300 shadow-lg hover:scale-105 transform transition"
>
  <div class="card-body">
    <h2 class="card-title text-base-content">
      <ng-content select="project-title" />
    </h2>
    <div class="flex-auto">
      <p class="text-neutral-content">
        <ng-content select="project-description" />
      </p>
    </div>
    <div class="flex flex-wrap gap-2">
      <ng-content select="project-features" />
    </div>
    <div class="divider my-0.5"></div>
    <div class="card-actions">
      <ng-content select="project-link" />
    </div>
  </div>
</div>
