<dialog #modal class="modal">
  <div class="modal-box bg-base-200 max-h-80">
    <div class="flex flex-col gap-3 p-3">
      @for (theme of themes; track $index) {
        <button
          [appDataTheme]="theme"
          class="btn bg-base-100 py-3"
          (click)="themeChanged.emit(theme)"
        >
          <span class="flex justify-between items-center w-full h-full">
            <span class="flex items-center gap-1">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-4"
                [ngClass]="{ invisible: theme !== selectedTheme() }"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m4.5 12.75 6 6 9-13.5"
                />
              </svg>
              <span class="flex-grow text-left font-semibold">{{ theme }}</span>
            </span>
            <span class="flex flex-initial gap-1 h-full">
              <span class="bg-primary rounded-badge w-2"></span>
              <span class="bg-secondary rounded-badge w-2"></span>
              <span class="bg-accent rounded-badge w-2"></span>
              <span class="bg-neutral rounded-badge w-2"></span>
            </span>
          </span>
        </button>
      }
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
