<app-base-layout [offsetTop]="false" [showFooter]="false">
  <section class="min-h-screen pt-20 px-6 flex flex-col justify-center">
    <div class="flex justify-center">
      <div class="card bg-base-200 shadow-md">
        <div class="card-body items-center gap-4 text-center">
          <h2 class="card-title text-error text-subtitle">Access Denied</h2>
          <p class="text-body text-base-content">
            This website is not available in your region.
          </p>
          <form
            class="flex flex-col gap-4"
            [formGroup]="contactForm"
            (ngSubmit)="submit()"
          >
            <div>
              <label class="form-control w-full">
                <input
                  type="password"
                  placeholder="Password"
                  class="input input-bordered w-full"
                  formControlName="password"
                />
              </label>
            </div>

            @if (hasGeoAccess$ | async) {
              <button
                type="submit"
                class="btn btn-primary btn-block sm:w-80"
                [class.btn-outline]="contactForm.invalid"
                [disabled]="contactForm.invalid"
              >
                Submit
              </button>
            }
          </form>
        </div>
      </div>
    </div>
  </section>
</app-base-layout>
