<div
  class="min-h-screen w-full flex flex-col"
  [ngClass]="backgroundColorClass()"
>
  <div
    *ngrxLet="{ theme: appStore.selectTheme$ } as vm"
    class="top-0 fixed w-full z-10"
  >
    <!-- mobile navbar -->
    <div class="md:hidden">
      <app-compact-navbar
        [selectedTheme]="vm.theme"
        [version]="version()"
        (themeChanged)="themeChanged($event)"
      ></app-compact-navbar>
    </div>

    <!-- desktop navbar -->
    <div class="hidden md:block">
      <app-navbar
        [selectedTheme]="vm.theme"
        [version]="version()"
        (themeChanged)="themeChanged($event)"
      ></app-navbar>
    </div>
  </div>

  <!-- spacer equivalent to the height of the navbar -->
  <div class="flex-auto flex flex-col" [ngClass]="{ 'pt-20': offsetTop() }">
    <div class="flex-auto">
      <ng-content></ng-content>
    </div>

    @if (showFooter()) {
      <app-footer [colorClass]="footerColorClass()"></app-footer>
    }
  </div>
</div>
