<div class="container text-center max-w-4xl flex flex-col gap-10">
  <h2 class="text-title font-bold text-secondary">Timeline</h2>

  <ul
    class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
  >
    <li>
      <div class="timeline-middle">
        <app-checkmark></app-checkmark>
      </div>
      <div class="timeline-end w-full mb-10 md:text-start">
        <time class="font-mono italic">Q2 2021</time>
        <div class="text-lg font-black">Full-Stack Software Engineer</div>
        <p class="text-neutral-content">
          Started working as a Full-Stack Software Engineer, working across
          frontend, backend, and DevOps in multiple web applications.
        </p>
      </div>
      <hr />
    </li>
    <li>
      <div class="timeline-middle">
        <app-checkmark></app-checkmark>
      </div>
      <div class="timeline-start w-full mb-10 md:text-end">
        <time class="font-mono italic">Q1 2021</time>
        <div class="text-lg font-black">BSc Graduate</div>
        <p class="text-neutral-content">
          Completed BSc in Industrial Engineering.
        </p>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <app-checkmark></app-checkmark>
      </div>
      <div class="timeline-end w-full md:mb-10 md:text-start">
        <time class="font-mono italic">Q2 2020</time>
        <div class="text-lg font-black">AI & ML Intern</div>
        <p class="text-neutral-content">
          Started internship and Bachelor thesis in Artificial Intelligence and
          Machine Learning, focusing on data-driven solutions and model
          development.
        </p>
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <app-checkmark></app-checkmark>
      </div>
      <div class="timeline-start w-full mb-10 md:text-end">
        <time class="font-mono italic">Q4 2017</time>
        <div class="text-lg font-black">Student</div>
        <p class="text-neutral-content">
          Began BSc in Industrial Engineering with focus on Information
          Engineering.
        </p>
      </div>
    </li>
  </ul>
</div>
