---
import ThemedIcon from "./ThemedIcon.astro";
---

<div class="flex gap-1 items-center">
  <!--visible from sm breakpoint-->
  <a href="/" class="hidden sm:inline-flex btn btn-square btn-neutral">
    <ThemedIcon name="home" cssClass="text-2xl" />
  </a>

  <a href="/" class="btn btn-sm btn-ghost">
    <span class="font-semibold text-lg">Ehsan Barooni</span>
  </a>
</div>
