---
import Avatar from "./Avatar.astro";
import Version from "./Version.astro";
---

<div id="navbar-wrapper" class="bg-base-100 drop-shadow-md">
  <nav class="navbar">
    <div class="navbar-start">
      <div class="flex items-center gap-1">
        <Avatar />
        <Version />
      </div>
    </div>
  </nav>
</div>
