---
import Avatar from "./Avatar.astro";
---

<div id="navbar-wrapper" class="bg-base-100 drop-shadow-md">
  <nav class="navbar">
    <div class="navbar-start">
      <Avatar />
    </div>
  </nav>
</div>
