<app-base-layout
  [offsetTop]="false"
  [backgroundColorClass]="'bg-gradient-to-b from-base-100 to-base-200 to-75%'"
>
  <section>
    <app-hero
      [backgroundColor]="
        'bg-gradient-to-br from-base-200 via-primary to-base-300'
      "
      [titleColor]="'text-neutral'"
      [subtitleColor]="'text-secondary-content'"
    >
      <ng-container ngProjectAs="title">My Projects</ng-container>

      <ng-container ngProjectAs="subtitle"
        >A showcase of innovative, cutting-edge projects that combine creativity
        with technical excellence. Explore the possibilities
        below.</ng-container
      >
    </app-hero>
  </section>

  <section>
    <app-showcase></app-showcase>
  </section>
</app-base-layout>
