<div class="py-10 sm:py-16 px-8 lg:px-24">
  <div
    class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 sm:gap-10"
  >
    <app-project-item>
      <ng-container ngProjectAs="project-title"
        >Capacitor Calendar Plugin</ng-container
      >

      <ng-container ngProjectAs="project-link">
        <a
          class="btn btn-circle btn-ghost"
          href="https://github.com/ebarooni/capacitor-calendar"
          target="_blank"
        >
          <app-open></app-open>
        </a>
      </ng-container>

      <ng-container ngProjectAs="project-description"
        >A Capacitor plugin for interacting with native calendars, providing
        features to create, update, delete, and query events on iOS and Android.
      </ng-container>

      <ng-container ngProjectAs="project-features">
        <div class="badge badge-secondary">CapacitorJS</div>
        <div class="badge badge-secondary">iOS</div>
        <div class="badge badge-secondary">Android</div>
      </ng-container>
    </app-project-item>

    <app-project-item>
      <ng-container ngProjectAs="project-title">Webfolio</ng-container>

      <ng-container ngProjectAs="project-link">
        <a
          class="btn btn-circle btn-ghost"
          href="https://github.com/ebarooni/webfolio"
          target="_blank"
        >
          <app-open></app-open>
        </a>
      </ng-container>

      <ng-container ngProjectAs="project-description"
        >A personal portfolio website developed with Angular, TailwindCSS and
        DaisyUI.
      </ng-container>

      <ng-container ngProjectAs="project-features">
        <div class="badge badge-secondary">Angular</div>
        <div class="badge badge-secondary">TailwindCSS</div>
        <div class="badge badge-secondary">DaisyUI</div>
      </ng-container>
    </app-project-item>

    <app-project-item>
      <ng-container ngProjectAs="project-title">Web Configs</ng-container>

      <ng-container ngProjectAs="project-link">
        <a
          class="btn btn-circle btn-ghost"
          href="https://github.com/ebarooni/dev-tools"
          target="_blank"
        >
          <app-open></app-open>
        </a>
      </ng-container>

      <ng-container ngProjectAs="project-description"
        >A collection of shared configuration including ESLint, Prettier,
        Stylelint and Swiftlint.
      </ng-container>

      <ng-container ngProjectAs="project-features">
        <div class="badge badge-secondary">ESLint</div>
        <div class="badge badge-secondary">Prettier</div>
        <div class="badge badge-secondary">Stylelint</div>
        <div class="badge badge-secondary">Swiftlint</div>
      </ng-container>
    </app-project-item>

    <app-project-item>
      <ng-container ngProjectAs="project-title">Repo Sync</ng-container>

      <ng-container ngProjectAs="project-link">
        <a
          class="btn btn-circle btn-ghost"
          href="https://gist.github.com/ebarooni/c268a88bf8e09175b5017a176f46b31e"
          target="_blank"
        >
          <app-open></app-open>
        </a>
      </ng-container>

      <ng-container ngProjectAs="project-description"
        >A github workflow that mirrors the repositories to another remote on
        every push.
      </ng-container>

      <ng-container ngProjectAs="project-features">
        <div class="badge badge-secondary">GitHub</div>
        <div class="badge badge-secondary">GitLab</div>
        <div class="badge badge-secondary">CI/CD</div>
      </ng-container>
    </app-project-item>

    <app-project-item>
      <ng-container ngProjectAs="project-title">
        CloudCost Tracker
      </ng-container>

      <ng-container ngProjectAs="project-link">
        <a
          class="btn btn-circle btn-ghost"
          href="https://github.com/ebarooni"
          target="_blank"
        >
          <app-open></app-open>
        </a>
      </ng-container>

      <ng-container ngProjectAs="project-description"
        >A cost tracker that uses Pub/Sub topics to centralize the billing
        information of multiple Google Cloud projects.
      </ng-container>

      <ng-container ngProjectAs="project-features">
        <div class="badge badge-secondary">Google Cloud</div>
        <div class="badge badge-secondary">Billing</div>
        <div class="badge badge-secondary">Pub/Sub</div>
      </ng-container>
    </app-project-item>

    <app-project-item>
      <ng-container ngProjectAs="project-title">
        Spotify Auth Integration
      </ng-container>

      <ng-container ngProjectAs="project-link">
        <a
          class="btn btn-circle btn-ghost"
          href="https://github.com/ebarooni/spotify-web-api-playground"
          target="_blank"
        >
          <app-open></app-open>
        </a>
      </ng-container>

      <ng-container ngProjectAs="project-description"
        >A web application to generate access tokens to fetch user data from the
        Spotify web API.
      </ng-container>

      <ng-container ngProjectAs="project-features">
        <div class="badge badge-secondary">Spotify</div>
        <div class="badge badge-secondary">API</div>
        <div class="badge badge-secondary">Angular</div>
      </ng-container>
    </app-project-item>
  </div>
</div>
