<div
  class="py-8 lg:py-16 px-8 lg:px-24 bg-gradient-to-b from-base-200 to-base-100 from-90%"
>
  <div class="max-w-4xl mx-auto bg-base-100 p-6 lg:p-12 rounded-3xl shadow-lg">
    <div class="flex items-center gap-4 mb-10">
      <div
        class="bg-gradient-to-br from-primary to-secondary w-12 h-12 rounded-full flex justify-center items-center"
      >
        <span class="text-xl">👨‍💻</span>
      </div>

      <h2 class="text-3xl font-bold text-primary">Get in Touch</h2>
    </div>

    <form
      class="flex flex-col gap-8 justify-stretch"
      [formGroup]="contactForm"
      (ngSubmit)="submit()"
    >
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text text-lg font-medium text-neutral-content"
                >Name</span
              >
            </div>

            <input
              type="text"
              placeholder="Max Mustermann"
              class="input input-bordered w-full"
              [ngClass]="{
                'input-error':
                  contactForm.controls.name.invalid &&
                  contactForm.controls.name.dirty,
              }"
              formControlName="name"
            />
          </label>
        </div>
        <div>
          <label class="form-control w-full">
            <div class="label">
              <span class="label-text text-lg font-medium text-neutral-content"
                >Email</span
              >
            </div>

            <input
              type="email"
              placeholder="max@mustermann.de"
              class="input input-bordered w-full"
              [ngClass]="{
                'input-error':
                  contactForm.controls.email.invalid &&
                  contactForm.controls.email.dirty,
              }"
              formControlName="email"
            />
          </label>
        </div>
      </div>

      <div>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text text-lg font-medium text-neutral-content"
              >Message</span
            >
          </div>

          <textarea
            rows="6"
            placeholder="Describe your project or say hello!"
            class="textarea textarea-bordered w-full"
            [ngClass]="{
              'textarea-error':
                contactForm.controls.message.invalid &&
                contactForm.controls.message.dirty,
            }"
            formControlName="message"
          ></textarea>
        </label>
      </div>

      <div class="flex justify-center">
        <button
          type="submit"
          class="btn btn-primary btn-block sm:w-80"
          [ngClass]="{ 'btn-outline': contactForm.invalid }"
          [disabled]="contactForm.invalid"
        >
          Send Message
        </button>
      </div>
    </form>
  </div>
</div>
