<div
  class="py-10 lg:py-20 px-8 lg:px-24 bg-gradient-to-b from-base-200 via-base-300 to-base-200"
>
  <div class="max-w-4xl mx-auto bg-base-100 card rounded-2xl shadow-lg">
    <div class="card-body p-8">
      <div class="flex items-center gap-4 mb-10">
        <div
          class="bg-gradient-to-br from-primary to-secondary w-12 h-12 rounded-full flex justify-center items-center"
        >
          <span class="text-xl">👨‍💻</span>
        </div>

        <h2 class="text-3xl font-bold text-primary">Get in Touch</h2>
      </div>

      <form
        class="flex flex-col gap-8 justify-stretch"
        [formGroup]="contactForm"
        (ngSubmit)="submit()"
      >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          <div>
            <fieldset class="fieldset">
              <legend
                class="fieldset-legend py-0 pb-1 text-lg font-medium text-neutral-content"
              >
                Name
              </legend>
              <input
                type="text"
                class="input w-full"
                placeholder="Max Mustermann"
                [class.input-error]="
                  contactForm.controls.name.invalid &&
                  contactForm.controls.name.dirty
                "
                formControlName="name"
              />
            </fieldset>
          </div>
          <div>
            <fieldset class="fieldset">
              <legend
                class="fieldset-legend py-0 pb-1 text-lg font-medium text-neutral-content"
              >
                Email
              </legend>
              <input
                type="email"
                class="input w-full"
                placeholder="max@mustermann.de"
                [class.input-error]="
                  contactForm.controls.email.invalid &&
                  contactForm.controls.email.dirty
                "
                formControlName="email"
              />
            </fieldset>
          </div>
        </div>

        <div>
          <fieldset class="fieldset">
            <legend
              class="fieldset-legend py-0 pb-1 text-lg font-medium text-neutral-content"
            >
              Message
            </legend>
            <textarea
              class="textarea h-52 w-full"
              placeholder="Describe your project or say hello!"
              [class.input-error]="
                contactForm.controls.message.invalid &&
                contactForm.controls.message.dirty
              "
              formControlName="message"
            ></textarea>

            @let messageLength = contactForm.controls.message.value?.length;
            <div class="label">{{ messageLength }}/1000</div>
          </fieldset>
        </div>

        <div class="flex justify-center">
          <button
            type="submit"
            class="btn btn-primary btn-block sm:w-80"
            [ngClass]="{ 'btn-outline': contactForm.invalid }"
            [disabled]="contactForm.invalid"
          >
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
