<app-base-layout [offsetTop]="false" [backgroundColorClass]="'bg-base-200'">
  <section>
    <app-hero
      [backgroundColor]="'bg-gradient-to-b from-base-100 to-base-200'"
      [titleColor]="''"
      [subtitleColor]="'text-neutral-content'"
    >
      <ng-container ngProjectAs="title">Build Information</ng-container>

      <ng-container ngProjectAs="subtitle"
        >Explore the current version, deployment details, and technical
        dependencies powering this website.</ng-container
      >
    </app-hero>
  </section>

  <section>
    <app-deployment-details></app-deployment-details>
  </section>

  <section>
    <app-dependencies [dependencies]="dependencies()"></app-dependencies>
  </section>

  <section>
    <app-dependencies
      [title]="'Build-Time Dependencies'"
      [dependencies]="devDependencies()"
    ></app-dependencies>
  </section>
</app-base-layout>
