---
import Shell from "./Shell.astro";
import { Theme } from "daisyui";

interface Props {
  title: string;
  theme: Theme;
}

const { title, theme } = Astro.props;
---

<Shell title={title} theme={theme}>
  <div class="min-h-screen w-full bg-base-100">
    <slot />
  </div>
</Shell>
