---
import Shell from "./Shell.astro";
import { Theme } from "daisyui";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  theme: Theme;
}

const { title, theme } = Astro.props;
---

<Shell title={title} theme={theme}>
  <div class="min-h-screen w-full bg-base-100">
    <div class="sticky top-0 bg-opacity-90 backdrop-blur">
      <Navbar />
    </div>
    <slot />
  </div>
</Shell>
