---
import {Theme} from "daisyui";


interface Props {
	/**
	 * The title displayed on the browser tab and in metadata for the page.
	 * This is typically used to improve SEO and provide context for the page's content.
	 * @example <Shell title="Welcome to the app"></Shell>
	 */
	title: string;
	/**
	 * The global theme of the app.
	 * This determines the overall visual style, including colors, typography, and UI elements.
	 * @example <Shell theme="dark"></Shell>
	 */
	theme: Theme
}

const { title, theme } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
