<div class="max-h-screen h-screen w-full bg-base-100">
  <div
    *ngrxLet="{ theme: appStore.selectTheme$ } as vm"
    class="top-0 fixed w-full z-10"
  >
    <!-- mobile navbar -->
    <div class="md:hidden">
      <app-compact-navbar
        [selectedTheme]="vm.theme"
        [version]="'v0.0.0'"
        (themeChanged)="themeChanged($event)"
      ></app-compact-navbar>
    </div>

    <!-- desktop navbar -->
    <div class="hidden md:block">
      <app-navbar
        [selectedTheme]="vm.theme"
        [version]="'v0.0.0'"
        (themeChanged)="themeChanged($event)"
      ></app-navbar>
    </div>
  </div>

  <!-- spacer equivalent to the height of the navbar -->
  <div class="pt-20 h-full flex flex-col">
    <div class="flex-auto">
      <ng-content></ng-content>
    </div>

    <app-footer></app-footer>
  </div>
</div>
